<% include ./partials/header %>
<br>
<br>
<br>
<h1>Welcome to my planet!</h1>
<h4>It's nice to meet you! My name is Christopher Franco,</h4>
<h4>I am an aspiring full-stack developer + UX/UI Designer + Lover of Artificial intelligence + Puns and more</h4>

<p>I'm currently in the process of rebuilding my site + blog + portfolio from the ground up! So stay tuned!</p>

<h4>In the mean time, hmu on twitter <a href="https://twitter.com/Francotorium">@Francotorium</a></h4>

<% blogs.forEach(function(blog){ %>

    <div>
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>" >
        <span><%= blog.created %></span>
       <p><%= blog.body%></p> 
        <a href="/blog/<%= blog._id %>">Read More</a>
    </div>
<% }) %>
<% include ./partials/footer %>